.panel-form {
    margin-top: 32px;
}
 
.panel-form .title {
    color: #EF7247;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
}

.button-place {
    text-align: center;
}
